<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clean Coast</title>
    <style type="text/css" media="screen">
      html { margin-top: 32px !important; font-family: verdana, arial, sans-serif; font-size: xx-large}
      .entry-content {font-family: verdana, arial, sans-serif; font-size: xx-large}
      * html body { margin-top: 32px !important;  }
      @media screen and ( max-width: 782px ) {
        html { margin-top: 46px !important; }
        * html body { margin-top: 46px !important; }
	}
    </style>
  <body>

    <div id="page" class="site">
      <div class="site-inner">
	<a href="./">Home</a>
	<a href="mission">Mission</a>
	<a href="contact-us">Contact Us</a>
	<a href="trip-registration">Trip Registration</a>
	       
	<header id="masthead" class="site-header" role="banner">
          <div class="header-image">
            <img src="files/CCnewwebsite-header-1.png" 
	      width="100%" alt="" />
          </div>
