  <body onload="f_load();">

    <div id="page" class="site">
      <div class="site-inner">
	<a href="./">Home</a>
	<a href="trip-registration">Trip Registration</a>
	<a href="mission">Mission</a>
	<a href="contact-us">Contact Us</a>
	<a href="membership">Membership</a>
	<a href="calendar">Calendar</a>
	<a href="charter">Boat Charter Service</a>
	<a href="oysterroast">Oyster Roast</a>
	<a href="newsletter">Trash Bag</a>
	<a href="https://www.facebook.com/pg/Clean-Coast-70238533941/photos/?ref=page_internal" target="_blank">Photographs</a>
	<a href="http://www.wheelsforwishes.org/bottled-water-footprint" target="_blank">Bottled_Water</a>
	<a href="https://sustainability.temple.edu/sites/sustainability/files/uploads/Resources/The_Dangers_of_Plastic_Bags.pdf" target="_blank">Plastic_Bags</a>
	       
	<header id="masthead" class="site-header" role="banner">
          <div class="header-image">
            <img src="files/CCnewwebsite-header-1.png" 
	      width="100%" alt="" />
          </div>
