<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clean Coast</title>
    <style type="text/css" media="screen">
      html { margin-top: 32px !important; font-family: verdana, arial, sans-serif; font-size: xx-large}
      .entry-content {font-family: verdana, arial, sans-serif; font-size: xx-large}
      .right {text-align: right; !important;}
      table, th, td {
        text-align: left;
        border: 1px solid black;
        }      
      * html body { margin-top: 32px !important;  }
      @media screen and ( max-width: 782px ) {
        html { margin-top: 46px !important; }
        * html body { margin-top: 46px !important; }
	}
    </style>
    <script src="url-search-params.js"></script>
