
<% include ../partials/head %>

<script>
function f_load(){
  var s_width = screen.width;
  var s_height = screen.height;
  document.getElementById("cal_div").innerHTML = '<iframe src="https://calendar.google.com/calendar/embed?src=cleancoastcalendar%40gmail.com&ctz=America/New_York" style="border: 0" width="'+s_width+'" height="'+s_height+'" frameborder="0" scrolling="no"></iframe>';
};
</script>

<% include ../partials/heading %>


		<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		
<article id="post-130" class="post-130 page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">Boat Charter Service</h1>	</header><!-- .entry-header -->

	
	<div class="entry-content">
		<p><a href="./files/grady_white_editted.jpg"><img class="alignnone size-medium wp-image-329" src="./files/grady_white_editted.jpg" alt="grady_white_editted" width="825" height="510"></a></p>
<p>Clean Coast offers boat charter service to Georgia’s barrier islands and other ‘ water only accessible ‘ locations in the Savannah area.</p>
<p>You have a choice of two boats: a Carolina Skiff or a Grady White.</p>
<p>Our boats comfortably carry up to six passengers, with plenty of room for all your outdoor gear. Perfect for beachgoers, birders, nature enthusiasts and hunters.</p>
<p>Our skippers are USCG certified captains who have many years experience on our local waters. </p>
<p>Call Karen or Phil at 912-596-2052&nbsp;or 912 604 8741 for rates to Daufuskie, Little Tybee, Wassaw, Ossabaw, Blackbeard, Savannah Waterfront &amp;&nbsp;Harbor, Savannah Wildlife Refuge&nbsp;or your favorite coastal spot.</p>
<div align="center"></div>
	</div><!-- .entry-content -->

</article><!-- #post-## -->

	</main><!-- .site-main -->

	
</div><!-- .content-area -->



		</div><!-- .site-content -->

	</div><!-- .site-inner -->
</div><!-- .site -->
					</div>

		

</body></html>
