<% include ../partials/heading %>
		<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		
<article id="post-74" class="post-74 page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">Contact Us</h1>	</header><!-- .entry-header -->

	
	<div class="entry-content">
		<div id="pgbldblk26" class="building_block">
<div id="body_pgbldblk26" class="blockbody">
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr align="" valign="">
<td colspan="1" rowspan="1" align="" valign="top" width="100%">
<p align="center"><span style="font-family: arial, helvetica, sans-serif;"><strong>Mailing Address:</strong>&nbsp; Clean Coast, 4 River Walk, Savannah GA&nbsp;&nbsp; 31410</span></p>
<p align="center"><span style="font-family: arial, helvetica, sans-serif;"><strong>Email:</strong>&nbsp;<a href="mailto:cleancoastmail@gmail.com" target="_blank"> cleancoastmail</a></span><a href="mailto:cleancoastmail@gmail.com" target="_blank"><span style="font-family: arial, helvetica, sans-serif;">@gmail.com</span></a></p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="pgbldblk32" class="building_block">
<div id="body_pgbldblk32" class="blockbody">
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr align="" valign="">
<td colspan="1" rowspan="1" align="" valign="top" width="100%"><a href="http://www.facebook.com/home.php?ref=home#/pages/Clean-Coast/70238533941" target="_blank"><img src="files/FB-fLogo-Blue-broadcast-2.png" alt="">find us on Facebook</a></td>
</tr>
</tbody>
</table>
</div>
</div>
<h4><strong>Officers and Board Members 2017/2019</strong></h4>
<h4>President, Karen Grainey</h4>
<h4>Vice President, Charlotte Dixon</h4>
<h4>Secretary, Gail Bowers</h4>
<h4>Treasurer, Joe Bonds</h4>
<h4>Phil Grainey</h4>
<h4>Charlotte Keenoy</h4>
<div></div>
<h2>Advisory Board</h2>
<h4>Cletus Bergen III</h4>
<p><img class="alignnone size-full wp-image-80" src="files/cc_logo.jpg" alt="cc_logo" width="148" height="106"></p>
<p><strong><em>Volunteers Working for Litter-Free Beaches</em></strong></p>
	</div><!-- .entry-content -->

</article><!-- #post-## -->

	</main><!-- .site-main -->

	
</div><!-- .content-area -->



		</div><!-- .site-content -->

					</div>

		

</body></html>
