<% include ../partials/head %>
<script>
function f_load(){};
</script>
<% include ../partials/heading %>
        <div id="content" class="site-content">
          <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
              <article id="post-319" >
                <header class="entry-header">
                  <h2 class="entry-title">
                    <a href="mission" rel="bookmark">Mission</a>
		  </h2>
	        </header><!-- .entry-header -->
	        <div class="entry-content">
                  <p>Clean Coast&nbsp;is a Savannah based, 501(c)3&nbsp;non-profit volunteer&nbsp;organization which works to combat marine debris by holding monthly beach and marsh cleanups on the Georgia Coast, one of the last extensive undeveloped shorelines&nbsp;in the United States.&nbsp;</p>
                  <p> Although&nbsp;remote and beautiful, our coastline&nbsp;has not escaped the pervasive problem of&nbsp;marine debris and is&nbsp;well sprinkled with trash which is a nuisance and&nbsp;an eyesore for us humans and oftentimes deadly to wildlife.  
                    <a href="mission">See full mission statement.</a>
                  </p>
                </div><!-- .entry-content -->
              </article><!-- #post-## -->
              <article id="post-24" class="post-24 post type-post status-publish format-standard hentry category-featured">
	        <header class="entry-header">
		  <h2 class="entry-title">
		    News
		  </h2>	
	        </header><!-- .entry-header -->
	        <div class="entry-content">
		<h3>Travel Blog Highlights Clean Coast</h3>
                  <p>Travel writer Kristine Stevens came on the August 9 cleanup on Wassaw and shared her experience on her blog complete with stunning photography of this beautiful island.
		    <a href="http://www.kristinekstevens.com/2015/07/clean-coast-savannah-wassaw/" target="_blank"> Click here.</a>
		  </p>
                  <p>
		    <a href="http://www.kristinekstevens.com/2015/07/clean-coast-savannah-wassaw/"  target="_blank">
                      <img class="alignnone size-medium wp-image-27" src="files/347_Kristine_Stevens_Sea_Oats_Photo-1-224x300.jpg" alt="347_Kristine_Stevens_Sea_Oats_Photo" />
		    </a>
		  </p>
                  <p>Photo by Krisitine Stevens</p>
                  <h3>August 2014 Cleanup Video</h3>
                  <p>SCAD student Wenchao Shao attended the August cleanup on Wassaw Island and brought her video camera along.&nbsp; <a href="http://vimeo.com/104889269" target="_blank">Click here</a> to watch her short film on Vimeo.</p>
                  <h3>Bottled Water’s Enormous Footprint</h3>
                  <p>Beverage containers are by far the most numerous item we find on our cleanups, and a very large portion consists of plastic water bottles. &nbsp;But the environmental foot print of bottled water goes far beyond its predominant presence in the litter washing onto our shorelines. &nbsp;<a href="http://www.wheelsforwishes.org/bottled-water-footprint/" target="_blank">This infographic</a> created by Wheels for Wishes spells it out pretty clearly.</p>
	        </div><!-- .entry-content -->

              </article><!-- #post-## -->

            </main><!-- .site-main -->
	  </div><!-- .content-area -->
        </div><!-- .site-content -->
      </div><!-- .site-inner -->
    </div><!-- .site -->
  </body>
</html>
