<% include ../partials/head %>
<script>
function f_load(){};
</script>
<% include ../partials/heading %>
        <div id="content" class="site-content">
          <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
              <article id="post-319" >
                <header class="entry-header">
                  <h2 class="entry-title">
Please Share Your Opinion on Plastics Litter
		  </h2>
	        </header><!-- .entry-header -->
	        <div class="entry-content">
<p>Clean Coast is participating in a Plastic and Litter Reduction Working Group in Chatham County organized by One Hundred Miles. You can help by filling out a short online survey designed to gauge public perceptions of plastics litter and support for various solutions. There are three surveys designed for different interest groups. One survey is for <a href="https://www.surveymonkey.com/r/OHMConsumerPlastics" target="_blank">Chatham County consumers/residents</a>, another for <a href="https://www.surveymonkey.com/r/OHMPlasticBusiness" target="_blank">Chatham County businesses</a>, and a third for <a href="https://www.surveymonkey.com/r/OHMTouristPlastics" target="_blank">visitors to Chatham County</a>.</p>

<p>Please take a few minutes to complete whichever surveys you identify with. For instance, if you live in Savannah and own a business there, you can fill out a Consumer, and a Business survey.  Please feel free to share with anyone you know who may be interested. The survey will be open until October 31st.</p>

<p>Link to survey for Chatham County Consumers/Residents: 
<a href="https://www.surveymonkey.com/r/OHMConsumerPlastics" target="_blank">https://www.surveymonkey.com/r/OHMConsumerPlastics</a></p>

<p>Link to survey for Chatham County Businesses: 
<a href="https://www.surveymonkey.com/r/OHMPlasticBusiness" target="_blank">https://www.surveymonkey.com/r/OHMPlasticBusiness</a></p>

<p>Link to Survey for Vistors to Chatham County: 
<a href="https://www.surveymonkey.com/r/OHMTouristPlastics" target="_blank">https://www.surveymonkey.com/r/OHMTouristPlastics</a></p>

                </div><!-- .entry-content -->
              </article><!-- #post-## -->
              <article id="post-24" class="post-24 post type-post status-publish format-standard hentry category-featured">
	        <header class="entry-header">
		  <h2 class="entry-title">
		    News
		  </h2>	
	        </header><!-- .entry-header -->
	        <div class="entry-content">
		<h3>Travel Blog Highlights Clean Coast</h3>
                  <p>Travel writer Kristine Stevens came on the August 9 cleanup on Wassaw and shared her experience on her blog complete with stunning photography of this beautiful island.
		    <a href="http://www.kristinekstevens.com/2015/07/clean-coast-savannah-wassaw/" target="_blank"> Click here.</a>
		  </p>
                  <p>
		    <a href="http://www.kristinekstevens.com/2015/07/clean-coast-savannah-wassaw/"  target="_blank">
                      <img class="alignnone size-medium wp-image-27" src="files/347_Kristine_Stevens_Sea_Oats_Photo-1-224x300.jpg" alt="347_Kristine_Stevens_Sea_Oats_Photo" />
		    </a>
		  </p>
                  <p>Photo by Krisitine Stevens</p>
                  <h3>August 2014 Cleanup Video</h3>
                  <p>SCAD student Wenchao Shao attended the August cleanup on Wassaw Island and brought her video camera along.&nbsp; <a href="http://vimeo.com/104889269" target="_blank">Click here</a> to watch her short film on Vimeo.</p>
                  <h3>Bottled Water’s Enormous Footprint</h3>
                  <p>Beverage containers are by far the most numerous item we find on our cleanups, and a very large portion consists of plastic water bottles. &nbsp;But the environmental foot print of bottled water goes far beyond its predominant presence in the litter washing onto our shorelines. &nbsp;<a href="http://www.wheelsforwishes.org/bottled-water-footprint/" target="_blank">This infographic</a> created by Wheels for Wishes spells it out pretty clearly.</p>
	        </div><!-- .entry-content -->

              </article><!-- #post-## -->

            </main><!-- .site-main -->
	  </div><!-- .content-area -->
        </div><!-- .site-content -->
      </div><!-- .site-inner -->
    </div><!-- .site -->
  </body>
</html>
