
<% include ../partials/head %>

<script>
function f_load(){};
</script>

<% include ../partials/heading %>

	<header class="entry-header">
		<h1 class="entry-title">Membership</h1>	</header><!-- .entry-header -->

	
	<div class="entry-content">
		<div id="pgbldblk14" class="building_block">
<div id="body_pgbldblk14" class="blockbody">
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr align="" valign="">
<td colspan="1" rowspan="1" align="" valign="top" width="100%"><span style="font-family: verdana, arial, sans-serif;">Clean Coast is a strictly volunteer organization with no paid staff&nbsp;or “brick and mortar” overhead; and we rely on membership dues and donations to keep afloat.&nbsp; Our overhead consists of the maintenance and insurance on our 24 ft. Carolina skiff and pickup truck, the production of our monthly newsletter “The Trash Bag”, the cost of providing volunteers snacks, and other miscellaneous expenses necessary to&nbsp;be an effective organization.&nbsp;&nbsp;&nbsp;</span><p></p>
<p><span style="font-family: verdana, arial, sans-serif;">Although membership is not required to participate in our cleanups we encourage volunteers to provide financial support by joining at whatever level they can afford.&nbsp; We are a tax exempt 501(c) 3 non-profit corporation and dues and donations are tax deductible.</span></p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="pgbldblk84" class="building_block">
<div id="body_pgbldblk84" class="blockbody">
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr align="" valign="">
<td colspan="1" rowspan="1" align="" valign="top" width="50%"><strong><span style="font-family: verdana, arial, sans-serif;">Membership Levels:</span></strong><p></p>
<ul>
<ol>
<li><span style="font-family: verdana, arial, sans-serif;">Student or Senior Citizen $25</span></li>
<li><span style="font-family: verdana, arial, sans-serif;">Individual $35</span></li>
<li><span style="font-family: verdana, arial, sans-serif;">Family $50</span></li>
<li><span style="font-family: verdana, arial, sans-serif;">Sustaining $100</span></li>
<li><span style="font-family: verdana, arial, sans-serif;">Patron $500</span></li>
<li><span style="font-family: verdana, arial, sans-serif;">Life $1000</span></li>
</ol>
</ul>
</td>
</tr>
</tbody>
</table>
<p>You may join online <a href="pay.html">here</a>.</p>
<p> Or, you may fill out the form <a href="new-member-application">here</a> and mail a check.</p>
</div>
</div>
<div id="pgbldblk29" class="building_block">
<div id="body_pgbldblk29" class="blockbody">
<table border="0" width="100%" cellspacing="0" cellpadding="5">
<tbody>
<tr align="" valign="">
<td colspan="1" rowspan="1" align="" valign="top" width="100%">
<h4><span style="color: #ff0000;">Attention Boat Owners!&nbsp; Volunteer Skippers Needed!</span></h4>
<p>Most of the beaches in Georgia are accessible only by boat.&nbsp; Therefore, Clean Coast must rely on volunteer boat owners to help transport volunteers to cleanup sites.&nbsp; Contact us at <a href="mailto:cleancoastmail@gmail.com" target="_blank">cleancoastmail@gmail.com</a> to volunteer your boat.&nbsp; We are very appreciative of our boat captains and do not ask you to haul trash – just people!</p>
<p>&nbsp;</p></td>
</tr>
</tbody>
</table>
</div>
</div>
	</div><!-- .entry-content -->
