<% include ../partials/head %>
<script>
function f_load(){};
</script>
<% include ../partials/heading %>

		<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		
<article id="post-65" >
	<header class="entry-header">
		<h1 class="entry-title">Mission</h1>	</header><!-- .entry-header -->
	<div class="entry-content">
		<p><span style="color: #000000; font-family: verdana, arial, sans-serif;">Clean Coast&nbsp;is a Savannah based, 501(c)3&nbsp;non-profit volunteer&nbsp;organization which works to combat marine debris by holding monthly beach and marsh cleanups on the Georgia Coast, one of the last extensive undeveloped shorelines&nbsp;in the United States.&nbsp;Although&nbsp;remote and beautiful, our coastline&nbsp;has not escaped the pervasive problem of&nbsp;marine debris and is&nbsp;well sprinkled with trash which is a nuisance and&nbsp;an eyesore for us humans and oftentimes deadly to wildlife.</span></p>
<figure id="attachment_69" style="width: 194px" class="wp-caption alignleft"><img class="size-medium wp-image-69" src="files/310_dead_bird_in_nets_copy_b_W_Medium_Web_view-1-194x300.jpg" alt="Trash can injure/kill wildlife" width="194" height="300" ><figcaption class="wp-caption-text">Trash can injure/kill wildlife</figcaption></figure>
<p><span style="font-family: arial, helvetica, sans-serif;"><br>
<span style="color: #000000; font-family: verdana, arial, sans-serif;">Clear plastic bags floating in the water can be mistaken for jellyfish and eaten by turtles, fish, or dolphins.&nbsp; Fish and other marine animals and birds become entangled in fishing line, nets or six-pack rings.&nbsp; Styrofoam eventually breaks up into small pellets that are mistaken for eggs and eaten.&nbsp; We try to minimize these hazards by cleaning up the&nbsp;trash and promoting public awareness of the problem.&nbsp; This photo of a dead&nbsp;loon entangled in balloon string was taken by a Clean Coast member during an outing on one of&nbsp;Georgia’s pristine barrier islands.</span></span></p>
<p><span style="color: #000000; font-family: verdana, arial, sans-serif;">Clean Coast has been active for over twenty five years and has collected tons&nbsp;of trash from our beaches and marshes.&nbsp; We estimate we that we pick up an average&nbsp; 800 -1,000 lbs. of trash per cleanup and we do&nbsp;at least one&nbsp;cleanup&nbsp;each month.&nbsp; Everyone is invited to attend our cleanups, and although we encourage people to become members, non-members are welcome to volunteer.</span></p>
<p><span style="font-family: verdana, arial, sans-serif;"><span style="color: #000000;">Our biggest challenge is that most of&nbsp;these shorelines are not accessible by land.&nbsp; We own a 24ft. Carolina skiff which we use to haul away the trash and we rely on volunteer boat owners to help transport our volunteers.&nbsp; If you are interested in becoming one of our volunteer boat owners, please drop us a line.</span>&nbsp;&nbsp;</span><a href="mailto:cleancoastmail@gmail.com" target="null"><span style="font-family: verdana, arial, sans-serif;">cleancoastmail@gmail.com</span></a></p>
	</div><!-- .entry-content -->

</article><!-- #post-## -->

	</main><!-- .site-main -->

	
</div><!-- .content-area -->



		</div><!-- .site-content -->
</body></html>
