<% include ../partials/heading %>
		<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		
<article id="post-65" >
	<header class="entry-header">
		<h1 class="entry-title">Mission</h1>	</header><!-- .entry-header -->
	<div class="entry-content">
		<p><span style="color: #000000; font-family: verdana, arial, sans-serif;">Clean Coast&nbsp;is a Savannah based, 501(c)3&nbsp;non-profit volunteer&nbsp;organization which works to combat marine debris by holding monthly beach and marsh cleanups on the Georgia Coast, one of the last extensive undeveloped shorelines&nbsp;in the United States.&nbsp;Although&nbsp;remote and beautiful, our coastline&nbsp;has not escaped the pervasive problem of&nbsp;marine debris and is&nbsp;well sprinkled with trash which is a nuisance and&nbsp;an eyesore for us humans and oftentimes deadly to wildlife.</span></p>
<figure id="attachment_69" style="width: 194px" class="wp-caption alignleft"><a href="http://cleancoast.org/wp-content/uploads/2015/11/310_dead_bird_in_nets_copy_b_W_Medium_Web_view-1-1.jpg"><img class="size-medium wp-image-69" src="310_dead_bird_in_nets_copy_b_W_Medium_Web_view-1-194x300.jpg" alt="Trash can injure/kill wildlife" width="194" height="300" "></a><figcaption class="wp-caption-text">Trash can injure/kill wildlife</figcaption></figure>
<p><span style="font-family: arial, helvetica, sans-serif;"><br>
<span style="color: #000000; font-family: verdana, arial, sans-serif;">Clear plastic bags floating in the water can be mistaken for jellyfish and eaten by turtles, fish, or dolphins.&nbsp; Fish and other marine animals and birds become entangled in fishing line, nets or six-pack rings.&nbsp; Styrofoam eventually breaks up into small pellets that are mistaken for eggs and eaten.&nbsp; We try to minimize these hazards by cleaning up the&nbsp;trash and promoting public awareness of the problem.&nbsp; This photo of a dead&nbsp;loon entangled in balloon string was taken by a Clean Coast member during an outing on one of&nbsp;Georgia’s pristine barrier islands.</span></span></p>
<p><span style="color: #000000; font-family: verdana, arial, sans-serif;">Clean Coast has been active for over twenty five years and has collected tons&nbsp;of trash from our beaches and marshes.&nbsp; We estimate we that we pick up an average&nbsp; 800 -1,000 lbs. of trash per cleanup and we do&nbsp;at least one&nbsp;cleanup&nbsp;each month.&nbsp; Everyone is invited to attend our cleanups, and although we encourage people to become members, non-members are welcome to volunteer.</span></p>
<p><span style="font-family: verdana, arial, sans-serif;"><span style="color: #000000;">Our biggest challenge is that most of&nbsp;these shorelines are not accessible by land.&nbsp; We own a 24ft. Carolina skiff which we use to haul away the trash and we rely on volunteer boat owners to help transport our volunteers.&nbsp; If you are interested in becoming one of our volunteer boat owners, please drop us a line.</span>&nbsp;&nbsp;</span><a href="mailto:cleancoastmail@gmail.com" target="null"><span style="font-family: verdana, arial, sans-serif;">cleancoastmail@gmail.com</span></a></p>
	</div><!-- .entry-content -->

	<footer class="entry-footer"><span class="edit-link"><a class="post-edit-link" href="http://cleancoast.org/wp-admin/post.php?post=65&amp;action=edit">Edit<span class="screen-reader-text"> "Mission"</span></a></span></footer><!-- .entry-footer -->
</article><!-- #post-## -->

	</main><!-- .site-main -->

	
</div><!-- .content-area -->



		</div><!-- .site-content -->

		<footer id="colophon" class="site-footer" role="contentinfo">
							<nav class="main-navigation" role="navigation" aria-label="Footer Primary Menu">
					<div class="menu-menu-container"><ul id="menu-menu-1" class="primary-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-418"><a href="http://cleancoast.org/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="http://cleancoast.org/clean-coast-trip-registration/">Trip Registration</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-8" aria-haspopup="true"><a href="http://cleancoast.org/mission/#">About</a><button class="dropdown-toggle toggled-on" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
<ul class="sub-menu toggled-on">
	<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-65 current_page_item menu-item-66"><a href="http://cleancoast.org/mission/">Mission</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75"><a href="http://cleancoast.org/contact-us/">Contact Us</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="http://cleancoast.org/membership/">Join Us</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-426"><a href="http://cleancoast.org/calendar/">Calendar</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a href="http://cleancoast.org/boat-charter-service/">Boat Charter Service</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411"><a href="http://cleancoast.org/oyster-roast/">Oyster Roast</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-412"><a href="http://cleancoast.org/newsletter/">Newsletter</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-163" aria-haspopup="true"><a href="http://cleancoast.org/mission/#">Photo Albums</a><button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">expand child menu</span></button>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"><a href="http://cleancoast.org/little-tybee-2014/">Little Tybee 2014</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-416"><a href="http://cleancoast.org/wassaw-island-august-2014-3/">Wassaw Island August 2014</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414"><a href="http://cleancoast.org/bottled-waters-enormous-footprint-2/">Bottled Water</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415"><a href="http://cleancoast.org/plastic-bags/">Plastic Bags</a></li>
</ul></div>				</nav><!-- .main-navigation -->
			
			
			<div class="site-info">
								<a href="http://danceswithdolphin.com/">hosted by danceswithdolphin.com</a>
			</div><!-- .site-info -->
		</footer><!-- .site-footer -->
	</div><!-- .site-inner -->
</div><!-- .site -->

<script type="text/javascript" src="./Mission_files/admin-bar.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/widget.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/core.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/mouse.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/slider.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/button.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/spinner.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/effect.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/effect-shake.min.js.download"></script>
<script type="text/javascript" src="./Mission_files/skip-link-focus-fix.js.download"></script>
<script type="text/javascript">
/* <![CDATA[ */
var screenReaderText = {"expand":"expand child menu","collapse":"collapse child menu"};
/* ]]> */
</script>
<script type="text/javascript" src="./Mission_files/functions.js.download"></script>
<script type="text/javascript" src="./Mission_files/wp-embed.min.js.download"></script>
	<!--[if lte IE 8]>
		<script type="text/javascript">
			document.body.className = document.body.className.replace( /(^|\s)(no-)?customize-support(?=\s|$)/, '' ) + ' no-customize-support';
		</script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
		<script type="text/javascript">
			(function() {
				var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

						request = true;
		
				b[c] = b[c].replace( rcs, ' ' );
				// The customizer requires postMessage and CORS (if the site is cross domain)
				b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
			}());
		</script>
	<!--<![endif]-->
			<div id="wpadminbar" class="">
							<a class="screen-reader-shortcut" href="http://cleancoast.org/mission/#wp-toolbar" tabindex="1">Skip to toolbar</a>
						<div class="quicklinks" id="wp-toolbar" role="navigation" aria-label="Toolbar" tabindex="0">
				<ul id="wp-admin-bar-root-default" class="ab-top-menu">
		<li id="wp-admin-bar-wp-logo" class="menupop"><a class="ab-item" aria-haspopup="true" href="http://cleancoast.org/wp-admin/about.php"><span class="ab-icon"></span><span class="screen-reader-text">About WordPress</span></a><div class="ab-sub-wrapper"><ul id="wp-admin-bar-wp-logo-default" class="ab-submenu">
		<li id="wp-admin-bar-about"><a class="ab-item" href="http://cleancoast.org/wp-admin/about.php">About WordPress</a>		</li></ul><ul id="wp-admin-bar-wp-logo-external" class="ab-sub-secondary ab-submenu">
		<li id="wp-admin-bar-wporg"><a class="ab-item" href="https://wordpress.org/">WordPress.org</a>		</li>
		<li id="wp-admin-bar-documentation"><a class="ab-item" href="https://codex.wordpress.org/">Documentation</a>		</li>
		<li id="wp-admin-bar-support-forums"><a class="ab-item" href="https://wordpress.org/support/">Support Forums</a>		</li>
		<li id="wp-admin-bar-feedback"><a class="ab-item" href="https://wordpress.org/support/forum/requests-and-feedback">Feedback</a>		</li></ul></div>		</li>
		<li id="wp-admin-bar-site-name" class="menupop"><a class="ab-item" aria-haspopup="true" href="http://cleancoast.org/wp-admin/">cleancoast.org</a><div class="ab-sub-wrapper"><ul id="wp-admin-bar-site-name-default" class="ab-submenu">
		<li id="wp-admin-bar-dashboard"><a class="ab-item" href="http://cleancoast.org/wp-admin/">Dashboard</a>		</li></ul><ul id="wp-admin-bar-appearance" class="ab-submenu">
		<li id="wp-admin-bar-themes"><a class="ab-item" href="http://cleancoast.org/wp-admin/themes.php">Themes</a>		</li>
		<li id="wp-admin-bar-widgets"><a class="ab-item" href="http://cleancoast.org/wp-admin/widgets.php">Widgets</a>		</li>
		<li id="wp-admin-bar-menus"><a class="ab-item" href="http://cleancoast.org/wp-admin/nav-menus.php">Menus</a>		</li>
		<li id="wp-admin-bar-background" class="hide-if-customize"><a class="ab-item" href="http://cleancoast.org/wp-admin/themes.php?page=custom-background">Background</a>		</li>
		<li id="wp-admin-bar-header" class="hide-if-customize"><a class="ab-item" href="http://cleancoast.org/wp-admin/themes.php?page=custom-header">Header</a>		</li></ul></div>		</li>
		<li id="wp-admin-bar-customize" class="hide-if-no-customize"><a class="ab-item" href="http://cleancoast.org/wp-admin/customize.php?url=http%3A%2F%2Fcleancoast.org%2Fmission%2F">Customize</a>		</li>
		<li id="wp-admin-bar-updates"><a class="ab-item" href="http://cleancoast.org/wp-admin/update-core.php" title="3 Theme Updates"><span class="ab-icon"></span><span class="ab-label">3</span><span class="screen-reader-text">3 Theme Updates</span></a>		</li>
		<li id="wp-admin-bar-comments"><a class="ab-item" href="http://cleancoast.org/wp-admin/edit-comments.php"><span class="ab-icon"></span><span class="ab-label awaiting-mod pending-count count-0" aria-hidden="true">0</span><span class="screen-reader-text">0 comments awaiting moderation</span></a>		</li>
		<li id="wp-admin-bar-new-content" class="menupop"><a class="ab-item" aria-haspopup="true" href="http://cleancoast.org/wp-admin/post-new.php"><span class="ab-icon"></span><span class="ab-label">New</span></a><div class="ab-sub-wrapper"><ul id="wp-admin-bar-new-content-default" class="ab-submenu">
		<li id="wp-admin-bar-new-post"><a class="ab-item" href="http://cleancoast.org/wp-admin/post-new.php">Post</a>		</li>
		<li id="wp-admin-bar-new-media"><a class="ab-item" href="http://cleancoast.org/wp-admin/media-new.php">Media</a>		</li>
		<li id="wp-admin-bar-new-page"><a class="ab-item" href="http://cleancoast.org/wp-admin/post-new.php?post_type=page">Page</a>		</li>
		<li id="wp-admin-bar-new-fmemailverification"><a class="ab-item" href="http://cleancoast.org/wp-admin/post-new.php?post_type=fmemailverification">FM Email Verification</a>		</li>
		<li id="wp-admin-bar-new-user"><a class="ab-item" href="http://cleancoast.org/wp-admin/user-new.php">User</a>		</li></ul></div>		</li>
		<li id="wp-admin-bar-edit"><a class="ab-item" href="http://cleancoast.org/wp-admin/post.php?post=65&amp;action=edit">Edit Page</a>		</li></ul><ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">
		<li id="wp-admin-bar-search" class="admin-bar-search"><div class="ab-item ab-empty-item" tabindex="-1"><form action="http://cleancoast.org/" method="get" id="adminbarsearch"><input class="adminbar-input" name="s" id="adminbar-search" type="text" value="" maxlength="150"><label for="adminbar-search" class="screen-reader-text">Search</label><input type="submit" class="adminbar-button" value="Search"></form></div>		</li>
		<li id="wp-admin-bar-my-account" class="menupop with-avatar"><a class="ab-item" aria-haspopup="true" href="http://cleancoast.org/wp-admin/profile.php">Howdy, <span class="display-name">joebonds</span><img alt="" src="./Mission_files/2d067582c0704367cc579a1aa04c1500" srcset="http://2.gravatar.com/avatar/2d067582c0704367cc579a1aa04c1500?s=52&amp;d=mm&amp;r=g 2x" class="avatar avatar-26 photo" height="26" width="26"></a><div class="ab-sub-wrapper"><ul id="wp-admin-bar-user-actions" class="ab-submenu">
		<li id="wp-admin-bar-user-info"><a class="ab-item" tabindex="-1" href="http://cleancoast.org/wp-admin/profile.php"><img alt="" src="./Mission_files/2d067582c0704367cc579a1aa04c1500(1)" srcset="http://2.gravatar.com/avatar/2d067582c0704367cc579a1aa04c1500?s=128&amp;d=mm&amp;r=g 2x" class="avatar avatar-64 photo" height="64" width="64"><span class="display-name">joebonds</span></a>		</li>
		<li id="wp-admin-bar-edit-profile"><a class="ab-item" href="http://cleancoast.org/wp-admin/profile.php">Edit My Profile</a>		</li>
		<li id="wp-admin-bar-logout"><a class="ab-item" href="http://cleancoast.org/wp-login.php?action=logout&amp;_wpnonce=6174ead3f5">Log Out</a>		</li></ul></div>		</li></ul>			</div>
						<a class="screen-reader-shortcut" href="http://cleancoast.org/wp-login.php?action=logout&amp;_wpnonce=6174ead3f5">Log Out</a>
					</div>

		

</body></html>
