
<% include ../partials/head %>

<script>
function f_load(){}
</script>

<% include ../partials/heading %>


		<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
<article id="post-281" class="post-281 page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">Newsletter</h1>	</header><!-- .entry-header -->

	
	<div class="entry-content">
		<p><img class="alignnone size-medium wp-image-282" src="./files/Wassaw_ICC_2006_035_Large_Web_view-1-300x92.jpg" alt="Wassaw_ICC_2006_035_Large_Web_view" width="300" height="92"></p>
<p>In 2012 Clean Coast switched from sending a paper newsletter via the postal service to sending an electronic newsletter via the Constant Contact email service.&nbsp; <a href="http://archive.constantcontact.com/fs120/1107063766438/archive/1113152301105.html" target="_blank">Click here</a> to view the e-newsletter archives and to join the mailing list.&nbsp; Below are PDF files of the paper newsletters mailed in the years 2009 to 2011.</p>
<p><a href="./files/Trash_Bag_Summer_2011-1.pdf" target="_blank">Trash Bag Summer 2011</a></p>
<p><a href="./files/Trash_20Bag_20JanFeb_202010-1.pdf" target="_blank">Trash Bag January/February 2010</a></p>
<p><a href="./files/TrashBagMarApril2010web-1.pdf" target="_blank">Trash Bag March/April 2010</a></p>
<p><a href="./files/Trash_Bag_Oct_Nov_2010-1.pdf" target="_blank">Trash Bag October/November 2010</a></p>
<p><a href="./files/Trash_20Bag_20JuneJuly_202009-1.pdf" target="_blank">Trash Bag June/July 2009</a></p>
<p><a href="./files/Trash_20Bag_20AugustSept_202009-1.pdf" target="_blank">Trash Bag August/September 2009</a></p>
<p><a href="./files/Trash_20Bag_20OctoberNov_202009-1.pdf" target="_blank">Trash Bag October/November 2009</a></p>
	</div><!-- .entry-content -->

</article><!-- #post-## -->

	</main><!-- .site-main -->

	
</div><!-- .content-area -->



		</div><!-- .site-content -->

	</div><!-- .site-inner -->
</div><!-- .site -->

</body></html>
