
<% include ../partials/head %>

<script>
function f_load(){}
</script>

<% include ../partials/heading %>


		<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		
<article id="post-123" class="post-123 page type-page status-publish hentry">
	<header class="entry-header">
		<h1 class="entry-title">Oyster Roast</h1>	</header><!-- .entry-header -->

	
	<div class="entry-content">
		<h3>Save the Date! Oyster Roast on January 29, 2017</h3>
<p>
<img class="alignnone size-medium wp-image-124" src="./files/347_Photo_for_oyster_roast_invitation_2015-1-283x300.jpg" alt="347_Photo_for_oyster_roast_invitation_2015" width="566" height="600" srcset="http://cleancoast.org/wp-content/uploads/2015/11/347_Photo_for_oyster_roast_invitation_2015-1-283x300.jpg 283w, http://cleancoast.org/wp-content/uploads/2015/11/347_Photo_for_oyster_roast_invitation_2015-1.jpg 347w" sizes="(max-width: 283px) 85vw, 283px"><br>
Photo by Stacy Lynn Diehl<br><br>
It’s once again time for the annual oyster roast.&nbsp; Come prepared to renew your membership and enjoy delicious local oysters harvested from&nbsp; Oyster Creek by hardworking Clean Coast volunteers.&nbsp; The event is free for new and renewing members and $20 for non-members.&nbsp; Members who joined after July 1st do not need to renew as those memberships won’t expire until December 31, 2016. </p>
<p><strong>When:</strong>&nbsp; Sunday, January 29, 3:00&nbsp;– 6:00 p.m.</p>
<p><strong>Where:</strong>&nbsp; Clete and Deanne Bergen’s home on the Forest River in Coffee Bluff (140 Schley Avenue)</p>
<p><strong>Directions:</strong>&nbsp; Travel south on White Bluff Road.&nbsp; It will become Coffee Bluff Road.&nbsp; Turn left on to Rose Dhu Rd. and then right on to Schley Avenue.</p>
<p><strong>Bring:</strong>&nbsp; Your favorite covered dish or dessert to add variety to our repast, folding chairs, and that all important membership check.&nbsp; BYOB!</p>
<p>Cost: Members: Free, nonmembers: $20</p>
<p>
<a href="https://www.google.com/maps/place/140+Schley+Ave,+Savannah,+GA+31419" target="_blank">View map</a>
</p>
<p><img class="size-full wp-image-80 aligncenter" src="./files/cc_logo.jpg" alt="cc_logo" width="148" height="106"></p>
<div style="text-align: center;" align="center"><span style="font-family: verdana, arial, sans-serif;"><em><strong>Volunteers Working for Litter-Free Beaches</strong></em></span></div>
<p>&nbsp;</p>
	</div><!-- .entry-content -->

</article><!-- #post-## -->

	</main><!-- .site-main -->

	
</div><!-- .content-area -->



		</div><!-- .site-content -->

	</div><!-- .site-inner -->
</div><!-- .site -->

</body></html>
